<nav id="toolbar" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
        <span class="sr-only">{{ "Toggle navigation"|t }}</span>
      </button>
      <ul class="nav navbar-nav">
        <li>
          {% if is_granted('access administration pages') %}
            <a class="navbar-brand" href="{{ url('admin') }}">
              <span aria-hidden="true" class="glyphicon glyphicon-home"></span>
              <span class="sr-only">{{ "Administration"|t }}</span>
            </a>
          {% else %}
            <span class="navbar-text">
              <span aria-hidden="true" class="glyphicon glyphicon-home"></span>
            </span>
          {% endif %}
        </li>
      </ul>
    </div>

    {%- if user.authenticated -%}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            {{ user.displayName }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% if is_granted('access administration pages') %}
              <li>
                <a href="{{ path('admin/dashboard') }}">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  {{ "Admin"|t }}
                </a>
              </li>
            {% endif %}
            <li>
              <a href="{{ path('user/logout') }}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                {{ "Logout"|t }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    {%- endif -%}

    {{ links }}
  </div>
</nav>
