{#
 # Please note that items variable items type will vary depending on what you
 #  are currently displaying, this template hanles nodes.
 #
 #  Variables:
 #    pageId: page uuid, for security and ajax queries
 #    result: PageResult
 #    sorts: SortCollection
 #    filters: Filter[]
 #    filters.ID.title: string (title)
 #    filters.ID.links: Link[]
 #    visualFilters: Filter[]
 #    visualFilters.ID.title: string (title)
 #    visualFilters.ID.links: Link[]
 #    displays: Link[]
 #    query: Query
 #    query.configuration: Configuration
 #    query.searchParam: string
 #    query.rawSearchString: string (raw user input)
 #    query.route: string (current internal route)
 #    query.routeParameters: string[] (current get query)
 #    query.sortField: string (current sort field)
 #    sorts.sortOrder: string (current sort order)
 #    sorts.fieldLinks: Link[] (keyed with field names)
 #    sorts.orderLinks: Link[]
 #    sorts.getLink(NAME): Link
 #    sort.count: int (number of sort fields)
 #    hasPager: should we show pager or not
 #    items: DatasourceResultInterface|mixed[] the items
 #}

{%- block display_mode_link -%}
  <a class="{% if link.isActive %}active {% endif %}btn btn-default" href="{{ path(link.route, link.routeParameters) }}" title="{{ link.title }}" data-page-link>
    <span class="glyphicon glyphicon-{{ link.icon }}" aria-hidden="true"></span>
    <span class="sr-only">{{ link.title }}</span>
  </a>
{%- endblock -%}

{%- block display_mode -%}
  {% if 1 < displays|length %}
    <div class="clearfix">
      <div class="btn-group">
        {% for link in displays %}
          {{ block('display_mode_link') }}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{%- endblock -%}

{%- block filter_link -%}
  <div class="checkbox">
    <label>
      <a{% if link.isActive %} class="active"{% endif %} href="{{ path(link.route, link.routeParameters) }}" data-page-link="{{ filter.field }}">
        <input type="checkbox"{% if link.isActive %} checked="checked"{% endif %}>
        {{ link.title }} {% if link.count is defined %}<span class="badge">{{ link.count }}</span>{% endif %}
      </a>
    </label>
  </div>
{%- endblock -%}

{%- block filter -%}
  <strong>{{ filter.title }}</strong>
  <ul class="list-unstyled">
    {% for link in filter.links(query) %}
      <li>{{ block('filter_link') }}</li>
    {% else %}
      <li>{{ "No values"|trans }}</li>
    {% endfor %}
  </ul>
{%- endblock -%}

{% block search_form %}
  <form method="get" class="udashboard-search-form" accept-charset="UTF-8">
    <div class="input-group">
      {% if visualFilters %}
        <div class="form-control udashboard-visual-search"
          data-definition="{{ visualFilters|udashboardFilterDefinition()|e }}"
          data-query="{{ visualFilters|udashboardFilterQuery(query.all)|e }}">
        </div>
      {% else %}
        <input placeholder="{{ "Search"|trans }}" class="form-control form-text" name="{{ query.searchParameter }}"
          value="{{ query.rawSearchString|escape }}" maxlength="128" type="text"
        />
        {% for name, value in query.routeParameters %}
          {% if name != query.searchParameter %}
            <input type="hidden" name="{{ name }}" value="{{ value|udashboard_query_param }}"/>
          {% endif %}
        {% endfor %}
      {% endif %}
      <span class="input-group-btn">
        <button type="submit" title="{{ "Search"|trans }}" class="btn btn-primary">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </form>
{% endblock %}

{% block sort_link_active_asc %}
  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
{% endblock %}

{% block sort_link_active_desc %}
  <span class="glyphicon glyphicon-search-up" aria-hidden="true"></span>
{% endblock %}

{#
 # A table-header style sort link - unused per default.
 #
 # Use this to implement clickable table sort headers, use it the
 # following way:
 #
 # <th>
 #   {% with {sort: sort, title: "Référence", field: 'h.timestamp'} %}
 #     {{ block('sort_link_shortcut') }}
 #   {% endwith %}
 # </th>
 #
 # Please note that with latest twig, with context is supposed to be
 # merged to current context, but if you use TFD7, it overrides the With
 # token parser and drops this feature, hence the 'sort: sort' in the
 # example. For more information see https://github.com/TFD7/TFD7/issues/43
 #}
{% block sort_link_shortcut %}
  {% set param = query.sortOrderParameter %}
  {% set link = sorts.getLink(field) %}
  {% set suffix = '' %}
  {% spaceless %}
    {% if link.isActive %}
      {% if 'asc' == query.sortOrder(query) %}
        {% set href = path(link.route, link.routeParameters|merge({(param): 'desc'})) %}
        {% set suffix = block('sort_link_active_asc') %}
      {% else %}
        {% set href = path(link.route, link.routeParameters|merge({(param): 'asc'})) %}
        {% set suffix = block('sort_link_active_desc') %}
      {% endif %}
    {% else %}
      {% set href = path(link.route, link.routeParameters) %}
    {% endif %}
    <a href="{{ href }}" data-page-link>{{ title }}</a>
  {% endspaceless %}
{% endblock %}

{# A normal sort link #}
{% block sort_link %}
  {% spaceless %}
    <a href="{{ path(link.route, link.routeParameters) }}" data-page-link>
      {{ link.title }}
    </a>
  {% endspaceless %}
{% endblock %}

{% block sort_links_field %}
  <span class="text-muted">{{ "Sort by:"|trans }}</span>
  <a href="#" class="dropdown-toggle" title="{{ "Sort by:"|trans }}" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
    {{ sorts.currentFieldTitle(query) }}&nbsp;<span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    {% for link in sorts.fieldLinks(query) %}
      <li>{{ block('sort_link') }}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block sort_links_order %}
  <a href="#" class="dropdown-toggle" title="{{ "Order by:"|trans }}" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
    {{ sorts.currentOrderTitle(query) }}&nbsp;<span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    {% for link in sorts.orderLinks(query) %}
      <li>{{ block('sort_link') }}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block sort_links %}
  <div class="pull-right sort-links">
    <span style="position: relative;">
      {{ block('sort_links_field') }}
    </span>
    <span style="position: relative;">
      {{ block('sort_links_order') }}
    </span>
  </div>
{% endblock %}

{#
 # Place it or not into your custom templates, but never forget the
 # data-page-checkbox="all" attribute on which the javascript will match.
 #}
{%- block item_checkbox_all -%}
  <input type="checkbox" data-page-checkbox="all" title="{{ "(Un)check all"|t }}"/>
{%- endblock -%}

{%- block item -%}
  <tr>
    {% if form is defined %}
      {% set element = form.items[item.id] %}
      {# <td>{{ form_widget(id) }}</td> #}
      <td>{{ form_widget(element) }}</td>
    {% endif %}
    <td>{{ item.type }}</td>
    <td class="ui-sortable"><span class="pull-right"></span>
      <div class="udashboard-result" data-nid="{{ item.id }}">
        <a href="{{ path('node/%node', {node: item.id}) }}">{{ item.title }}</a>
      </div>
    </td>
    <td>{% if item.isPublished %}{{ "published"|trans }}{% endif %}</td>
    <td>{{ item.created|time_diff }}</td>
    <td>{{ item.changed|time_diff }}</td>
    <td>{{ item.name }}</td>
    <td>
      {{ udashboard_actions(item) }}
    </td>
  </tr>
{%- endblock -%}

{% block item_list %}
  <table class="table table-condensed">
    <thead>
      <tr>
        {% if form is defined %}
          <th>{{ block('item_checkbox_all') }}</th>
        {% endif %}
        <th>{{ "Type"|trans }}</th>
        <th>{{ "Title"|trans }}</th>
        <th>{{ "Status"|trans }}</th>
        <th>{{ "Created at"|trans }}</th>
        <th>{{ "Updated at"|trans }}</th>
        <th>{{ "Owner"|trans }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{#
 # Single pager link href
 #}
{%- block pager_href -%}
  {% if index is defined %}
    {{ path(query.route, routeParameters|merge({(configuration.pageParameter): index})) }}
  {% else %}
    #
  {% endif %}
{%- endblock -%}

{#
 # Single pager link
 #}
{%- block pager_link -%}
  {% if index is defined %}
    <a href="{{ block('pager_href') }}" data-page-link>
      {{ index }}
    </a>
  {% endif %}
{%- endblock -%}

{#
 # Custom pager, built with Bootstrap component. We dissociated it from any
 # framework because we need to have control on the links for AJAX page
 # refresh.
 #}
{%- block pager -%}
  {% if hasPager %}
    {% set page = query.pageNumber %}
    <nav aria-label="{{ "Navigation"|trans }}">
      <ul class="pagination">
        {% if 1 < page %}
          <li>
            <a href="{% with {index: (page - 1)} %}{{ block('pager_href') }}{% endwith %}" aria-label="{{ "Previous"|trans }}" data-page-link>
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        {% for index in state.pageRange %}
          <li>
            {{ block('pager_link') }}
          </li>
        {% endfor %}
        {% if page < state.pageCount %}
          <li>
            <a href="{% with {index: (page + 1)} %}{{ block('pager_href') }}{% endwith %}" aria-label="{{ "Next"|trans }}" data-page-link>
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{%- endblock -%}

{% block page_content %}
  <div class="container-fluid">
    {% if query.configuration.isSearchEnabled or visualFilters %}
      <div class="row">
        <div class="col-md-12" data-page-block="search_form">
          {{ block('search_form') }}
        </div>
      </div>
    {% endif %}
    {% if 1 < sorts.count %}
      <div class="row">
        <div class="col-md-12" data-page-block="sort_links">
          {{ block('sort_links') }}
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12" data-page-block="item_list">
        {% block form_content %}
          {% if form is defined %}
            <form action="" method="post">
            {{ form_errors(form) }}
          {% endif %}
          {{ block('item_list') }}
          {% if form is defined %}
            {{ form_rest(form) }}
            </form>
          {% endif %}
        {% endblock form_content %}
      </div>
    </div>
    {% if query.limit < items.totalCount %}
      <div class="row">
        <div class="col-md-12" data-page-block="pager">
          {{ block('pager') }}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block filters %}
  {% for filter in filters %}
    {{ block('filter') }}
  {% endfor %}
{% endblock %}

{% block page_layout %}
  <div class="udashboard-page container-fluid">
    <div class="row">
      {% if 1 < displays|length or filters %}
        <div class="col-md-2">
          {% if displays %}
            <div data-page-block="display_mode">
              {% if 1 < displays|length %}
                {{ block('display_mode') }}
              {% endif %}
            </div>
          {% endif %}
          {% if filters %}
            <div data-page-block="filters">
              {{ block('filters') }}
            </div>
          {% endif %}
        </div>
        <div id="udashboard-results" class="col-md-10">
          {{ block('page_content') }}
        </div>
      {% else %}
        <div id="udashboard-results" class="col-md-12">
          {{ block('page_content') }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block page %}
  <div{% if pageId %} data-page="{{ pageId }}" data-page-query="{{ result.queryToJson|escape }}"{% endif %} data-page-search="{{ query.configuration.searchParameter }}">
    {{ block('page_layout') }}
  </div>
{% endblock %}
